
/* font-family: "Zodiac"; */
@font-face {
	font-family: "Zodiac";
	src: url("../fonts/Zodiac/GE-Zodiac.ttf.eot");
	src: url("../fonts/Zodiac/GE-Zodiac.ttf.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Zodiac/GE-Zodiac.ttf.woff") format("woff"),
	url("../fonts/Zodiac/GE-Zodiac.ttf.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}