/* font-family: "RobotoRegular"; */

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "RobotoLight"; */

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "RobotoMedium"; */

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "RobotoBold"; */

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AleoRegular"; */

@font-face {
    font-family: "AleoRegular";
    src: url("../fonts/aleo_regular/Aleo-Regular-webfont.eot");
    src: url("../fonts/aleo_regular/Aleo-Regular-webfont.eot?#iefix")format("embedded-opentype"), url("../fonts/aleo_regular/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/aleo_regular/Aleo-Regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AleoBold"; */

@font-face {
    font-family: "AleoBold";
    src: url("../fonts/aleo_bold/Aleo-Bold-webfont.eot");
    src: url("../fonts/aleo_bold/Aleo-Bold-webfont.eot?#iefix")format("embedded-opentype"), url("../fonts/aleo_bold/Aleo-Bold-webfont.woff") format("woff"), url("../fonts/aleo_boldr/Aleo-Bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AleoLightItalic"; */

@font-face {
    font-family: "AleoLightItalic";
    src: url("../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.eot");
    src: url("../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.eot?#iefix")format("embedded-opentype"), url("../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.woff") format("woff"), url("../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AleoLight"; */

@font-face {
    font-family: "AleoLight";
    src: url("../fonts/aleo_light/Aleo-Light-webfont.eot");
    src: url("../fonts/aleo_light/Aleo-Light-webfont.eot?#iefix")format("embedded-opentype"), url("../fonts/aleo_light/Aleo-Light-webfont.woff") format("woff"), url("../fonts/aleo_light/Aleo-Light-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "WcManonegraBtaRegular"; */

@font-face {
    font-family: "WcManonegraBtaRegular";
    src: url("../fonts/wcmanonegrabta_regular/WCManoNegraBta-webfont.eot");
    src: url("../fonts/wcmanonegrabta_regular/WCManoNegraBta-webfont.eot?#iefix")format("embedded-opentype"), url("../fonts/wcmanonegrabta_regular/WCManoNegraBta-webfont.woff") format("woff"), url("../fonts/wcmanonegrabta_regular/WCManoNegraBta-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}